<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <link rel="stylesheet" href="css/searchResrult.css">
    <script src="js/public.js"></script>
    <script src="js/searchResult.js"></script>
    <title>搜索结果</title>

</head>

<body>
    <!-- header -->
    <header class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">乐淘云购</h1>
        <a class="mui-icon mui-icon-search mui-pull-right"></a>
    </header>
    <!-- /header -->
    <!-- footer -->
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item mui-active" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon fa fa-shopping-cart
			"></span>
            <span class="mui-tab-label ">购物车</span>

        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <!-- /footer -->
    <div id="refreshContainer">

        <div>
            <div class="mui-row filter">
                <div class="mui-col-xs-6" id="priceSort">
                    价格
                    <span class="mui-icon mui-icon-arrowdown"></span>
                </div>
                <div class="mui-col-xs-6">
                    销量
                    <span class="mui-icon mui-icon-arrowdown"></span>
                </div>
            </div>
            <div class="product">
                <ul class="mui-clearfix" id="search-box">

                </ul>
            </div>
        </div>
    </div>
    <script id="searchTpl" type="text/template">
        <% for(var i=0;i< data.length;i++){ %>
            <li>
                <a href="detail.html?id=<%=data[i].id %>">

                    <span class="name">
                            <%=data[i].proName %>
                        </span>
                    <p>
                        <span>¥<%=data[i].price %></span>
                        <span>¥<%=data[i].oldPrice %></span>
                    </p>
                    <span class="buy-now">立即购买</span>
                </a>
            </li>
            <% } %>
    </script>
</body>

</html>